<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card m-3">
      <h5 class="card-header">Car Registeration</h5>
      <div class="card-body">
        <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" formControlName="fullName" placeholder="Please enter full name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && carForm.get('fullName')?.errors?.['required'] }" />
            <div *ngIf="form['fullName'].touched && form['fullName'].invalid" class="error">
              <div *ngIf="form['fullName'].errors?.['required']">Full Name is required.</div>
              <div *ngIf="form['fullName'].errors?.['maxlength']">Name should not be more than 75 characters.</div>
              <div *ngIf="form['fullName'].errors?.['pattern']">Only A-Z a-z characters are allowed.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Car</label>
            <input type="text" formControlName="car" placeholder="Please enter car name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && carForm.get('car')?.errors?.['required'] }"
              [ngbTypeahead]="search" />
            <div *ngIf="form['car'].touched && form['car'].invalid" class="error">
              <div *ngIf="form['car'].errors?.['required']">Car name is required</div>
              <div *ngIf="form['car'].errors?.['maxlength']">Car Name should not be more than 75 characters.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Parts</label>
            <ng-select [items]="parts" bindLabel="Parts" placeholder="Select Parts" appendTo="body" [multiple]="true"
              formControlName="parts">
            </ng-select>
            <div *ngIf="form['parts'].touched && form['parts'].invalid" class="error">
              <div *ngIf="form['parts'].errors?.['required']">Please select atleast one part.</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary mr-1" type="submit" [disabled]="!carForm.valid">Create</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card m-3">
      <h5 class="card-header">Car Registeration Summary</h5>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Full Name : <span style="font-weight: bold;">{{form['fullName'].value}}</span></li>
          <li class="list-group-item">Car : <span style="font-weight: bold;">{{form['car'].value}}</span></li>
          <li class="list-group-item">Parts : <span style="font-weight: bold;">{{form['parts'].value}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
